*{
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    user-select: none;
    -webkit-uer-select: none;
}
/* 365pxから表示が正しくなる */
@media screen and (max-width:559px){
    body{
    font-size : medium;
    /* padding-left : 10px;
    padding-right: 10px;
    padding-bottom: 10px; */
    padding: 0px 10px 10px 10px;
    }

    /* classは変数の前に[.]が必要っぽい？ */
    .button{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        /* min-width: 200px; */
        height: 80px;
        /* padding: 40px; */
        box-sizing: border-box;
        border: 1px solid #68779a;
        background: #cbe8fa;
        cursor: pointer;
        font-size : medium;
    }

    /* .button:hover{
        background: #fff;
    } */

    .scroll{
        max-width: 384px;
        height: 150px;
        /* margin-top: 10px; */
        margin-left: 0px;
        margin-bottom: 10px;
        overflow: scroll;
        /* min-width: 480px; */
        /* padding-left: 25px; */
    }

    ul{
        padding-left: 25px;
        list-style:none;
        margin:0;
        padding:0;
    }

    ol{
        padding-left: 30px;
    }

    /* h2{
        margin: 30px 0 20px 0;
    } */

    .footer{
        /* padding-top: 15px; */
        color: #9ca3af;
        background: #fff;
        margin-top: 30px;
        border-top: solid 1px lightgray;
    }

    .footer__navi {
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
      
    .footer__navi li {
        display: block;
        text-align: center;
    }
      
    .footer__navi li:not(:last-child) {
        margin-bottom: 0.5rem;
    }
      
    .footer__logo {
        display: none;
    }

    /* a {
        color: #9ca3af;
        text-decoration: none;
    } */
      
    a:hover {
        color: black;
    }
      
    .flex {
        display: block;
    }

    .copyright{
        text-align: center;
        font-size: small;
    }


    .responsive{
        width: 100%;
        aspect-ratio: 16/9;
    }
}
